@import '../root.css';

@font-face {
    font-family: 'Aerosol';
    src: url('/Users/youssefkawook/Desktop/Software Development/Projects/tic-tac-toe/public/fonts/Aerosol.ttf');
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--three);
    color: var(--two);
    font-family: Tahoma, sans-serif;
}

.top{
    height: 15vh;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.middle{
    height: 55vh;
    width: 100vw;
    /* background-color: rgb(209, 102, 233); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom{
    height: 30vh;
    width: 100vw;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px
}

.header {
    font-family: Aerosol;
    font-size: 80px;
    color: var(--two);
    margin: 0px;
}

.turn {
    height: 40px;
    margin: 0px;
    padding: 0px;
    /* background-color: beige; */
}

.turn h1 {
    margin: 0px;
    padding: 0px;
}

.score{
    display: flex;
    text-align:center;
    gap: 50px;
    color: var(--two);
    display: flex;
    align-items: center;
    justify-content: center;
}

.player1Score{
    /* background-color: aquamarine; */
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.tieScore{
    border-right: 3px solid var(--two);
    border-left: 3px solid var(--two);
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.player2Score {
    /* background-color: aquamarine; */
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playAgainContainer {
    height: 60px;
    width: 100vw;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playAgainButton {
    height: 50px;
    width: 300px;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--two);
    background-color: transparent;
    border: 3px solid var(--two)
}



@media (min-width: 451px) and (max-width: 768px) {
    .top {
        height: 20vh;
    }
    .middle {
        height: 45vh
    }
    .bottom{
        height:35vh
    }
    .header {
        font-size: 70px;
    }

    
    .playAgainContainer {
        height: 130px;
        width: 100vw;
    }


    .playAgainButton{
        height:70px
    }

    .score {
        gap: 50px
        
    }

    .player1Score{
        
    }

    .tieScore {
        width: 100px
    }

    .player2Score {

    }


}







@media (max-width: 450px) {
    .top {
        height: 20vh;
    }
    .middle {
        height: 45vh
    }
    .bottom{
        height:35vh
    }
    .header {
        font-size: 50px;
    }

    

    .playAgainButton{
        height:50px
    }

    .score {
        gap: 0px
        
    }

    .player1Score{
        
    }

    .tieScore {
        width: 100px
    }

    .player2Score {

    }


}