@import '../root.css';

.board {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 520px;
    height: 520px;
    font-size: 100px;
}

.row {
    display: flex;
    width: 100%;
    height: calc((1/3) * 100%);
}


.tile {
    width: calc((1/3) * 100%) ;
    height: 100%;
    border: 1px solid black;
    /* background-color: brown; */

    font-size: 100px;
}
.tile:disabled {

    color: inherit; 
  }


  @media (max-width: 600px) {
    
  }