@import '../root.css';

.board {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 400px;
    height: 400px;
    font-size: 100px;
}

.row {
    display: flex;
    width: 100%;
    height: calc((1/3) * 100%);
}


.tile {
    width: calc((1/3) * 100%) ;
    height: 100%;
    border: 3px solid var(--two);
    background-color: var(--three);

    font-size: 80px;
}
.tile:disabled {

    color: inherit; 
  }


  
  
  
  @media (min-width: 451px) and (max-width: 768px) {
      .board {
          height: 400px;
          width: 400px;
        }
        
        .tile {
            font-size: 80px
        }
    }



    @media (max-width: 450px) {
  
      .board {
          height: 300px;
          width: 300px;
      }
  
      .tile {
          font-size: 60px;
          color: aquamarine;
      }
    }