:root {
    --one: rgb(0,0,0);
    --two: rgb(255, 217, 217);
    --three: rgb(221, 93, 50);
    --four: rgb(29, 47, 63); 
}

/* --one: rgb(0,0,0);
--two: rgb(251, 255, 254);
--three: rgb(70, 150, 221);
--four: rgb(29, 47, 63);  */


/* --one: rgb(0,0,0);
--two: rgb(255, 0, 217);
--three: rgb(27, 25, 113);
--four: rgb(29, 47, 63);  */